@import "variables";
@import "mixins";


/* general fixes */
.sticky {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  position: static;
  background-color: transparent;
}

.stuck {
  position: fixed;
  top: 0;
  background-color: #F1F1F1;
  min-height: 0;
}

.golden {
  border-bottom: 1px solid $gold;
}

.collapsing {
  width: 100vw;
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.main__header {
  padding-top: 0;
  padding-bottom: 0;
}

* {
  font-family: $lato;
  font-size: 16px;
}

.small-hidden {
  @media only screen and (max-width: 767px) {
    display: none;
  }
}

.main__section__heading {
  font-size: 36px;
  font-family: $playfair;
  color: $grey-hover;
  font-weight: bold;
  margin-bottom: 50px;
}

.lg-fix {
  margin-right: 0;
}
/* ----------------------
----- COVER SECTION -----
------------------------*/
.main__header {
  @include background-image("../img/cover-background.png");
  height: 100vh;
  min-height: 540px;
}


/* navigation */
.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  width: 100%;
  -webkit-transition: background-color 0.3s, border-bottom 0.3s;
  transition: background-color 0.3s, border-bottom 0.3s;
}

.navbar-nav {
  padding-left: 6px;
  padding-right: 6px;
}

@media only screen and (min-width: 768px) {

  .width-250 {
    width: 250px;
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .navbar-expand-sm .navbar-nav .nav-link {
    padding: 0;
  }

  .nav-link {
    font-family: $lato;
    font-weight: 600;
    color: $grey;

    &:hover {
      color: $grey-hover;
    }
  }
  .navbar-expand-md .navbar-nav .nav-link {
    padding-left: 0;
    padding-right: 0;
  }

  .social-icons {
    font-size: 20px;
    padding-left: 60px;
  }

  .navbar-brand {
    padding: 0;
    height: auto;
  }

}
/* cover message */
.cover__message {
  margin: 0 auto;
  width: auto;
  padding-top: 35vh;
}

.cover__message__heading, .btn {
  color: $gold2;
  font-weight: bold;
}

.cover__message__heading {
  font-family: $playfair;
  font-size: 60px;
  margin-bottom: 22px;
}

.cover__message__target {
  font-family: $lato;
  font-size: 24px;
  color: $black;
  font-weight: 300;
  margin-bottom: 120px;
}

.cover__message__button {
  font-family: $lato;
  width: 225px;
  height: 58px;
  font-size: 18px;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid $gold2;
  border-radius: 0;
  -webkit-transition: background-color 0.2s, color 0.2s;
  transition: background-color 0.2s, color 0.2s;

  &:hover {
    background-color: $gold2;
    color: white;
  }
}


@media only screen and (max-width: 767px) {
  .navbar {
    text-align: center;
    padding: 0;
  }


  .brand-small {
    margin-left: 2vw;
  }

  .navbar-toggler {
    margin-right: 2vw;
    width: 40px;
    padding-left: 5px;
    padding-right: 5px;
    border: none;
  }

  .cover__message__target {
    margin-bottom: 60px;
  }

  .cover__message {
    padding-top: 28vh;
  }

  .navbar-container {
    padding: 5px;
    border-bottom: 1px solid $gold2;
    width: 100%;
    max-width: 100%;
  }
}

/* ---------------------------
------ SECTION RECENTS -------
----------------------------*/
.main__recents {
  background-color: #f8f6f4;
}

.main__recents__images, .main__recents__image {
  margin: 0;
  height: 730px;
}

.main__recents__image img {
  height: 100%;
}

.main__recents__gutter {
  margin-top: 30px;
}

.main__recents__images img {
  height: 350px;
}

.goat-head {
  margin-top: 30px;
}

@media only screen and (max-width: 1199px) {
  .main__recents__images, .main__recents__image {
    height: 600px;
  }

  .main__recents__images img {
    height: 285px;
    width: 100%;
  }
}

@media only screen and (max-width: 991px) {
  .main__recents__image img {
    width: 100%;
  }

  .main__recents__images, .main__recents__image, .main__recents__image img {
    height: auto;
  }

  .main__recents__images {
    padding: 0;
    margin-top: 30px;
    height: 250px;
  }

  .main__recents__images img {
    height: auto;
  }

  .goat-head {
    margin-top: 0;
  }
}

@media only screen and (max-width: 575px) {
  .main__recents__images {
    height: 170px;
  }
}

/* ----------------------------
----- SECTION COLLECTIONS -----
-----------------------------*/

.main__collections {
  background-color: #ffffff;
}

.main__collections__text {
  height: 100%;
  padding: 50px 0px 60px 60px;
}

.main__collections__heading {
  margin-bottom: 30px;
}

.main__collections__row .col-12 {
  padding: 0;
}

.main__collections__story {
  font-size: 16px;
  font-family: $lato;
  color: $black;
  line-height: 1.625;
  margin-bottom: 0px;
  padding-right: 30px;
}

.main__collections__button {
  width: 164px;
  height: 57px;
  position: absolute;
  bottom: 60px;
}

.main__collections__row .col .img-fluid {
  height: 400px;
}

@media only screen and (max-width: 1199px) {
  .main__collections__text {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .main__collections__story {
    padding-right: 10px;
    font-size: 15px;
  }

  .main__collections__row .col-12 .img-fluid {
    height: 376px;
  }
}

@media only screen and (max-width: 991px) {
  .main__collections__row .col-12 .img-fluid, .main__collections__text {
    height: 460px;
    width: 100%;
  }

  .main__collections__text {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    padding-bottom: 0;
  }

  .main__collections__story {
    padding-right: 0;
    width: 55%;
    margin: 0 auto;
  }

  .main__collections__button {
    margin: 0 auto;
    position: inherit;
    margin-top: 68px;
  }

  .main__collections {
    padding-bottom: 0;
  }
}

@media only screen and (max-width: 768px) {
  .main__collections__row .col-12 .img-fluid {
    height: 400px;
  }

  .main__collections__text {
    height: 400px;
  }

  .main__collections__story {
    width: 78%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media only screen and (max-width: 575px) {
  .main__collections__story {
    font-size: 14px;
    width: 100%;
  }

  .main__collections__button {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 465px) {
  .main__collections__row .col-12 .img-fluid {
    height: 280px;
  }
}

@media only screen and (max-width: 400px) {
  .main__collections__row .col-12 .img-fluid {
    height: 242px;
  }
}


/* ---------------------------
------- SECTION CONTACT ------
-----------------------------*/

.main__contact {
  padding-top: 0;
  padding-bottom: 80px;
}

.main__contact__hr {
  margin-bottom: 120px;
  background-color: rgb(228, 226, 224);
}

.main__contact__field {
  border-radius: 0;
  border: 1px solid $black;
  border-bottom: none;
  padding: 15px;
}

.main__contact__field--textarea {
  border-bottom: 1px solid $black;
  resize: none;
}

.main__contact__button {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 60px;
}

.main__contact__message {
  font-size: 16px;
  font-family: $lato;
  color: $black;
}

.main__contact__text__icons {
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__contact__icons {
  color: #2c2a28;
  font-size: 20px;
}

.fa-instagram :hover, .fa-instagram :active {
  color: #8a3ab9;
}

.fa-twitter :hover, .fa-twitter :active {
  color: #0084b4;
}

.fa-facebook :hover, .fa-facebook :active {
  color: #3b5998;
}

.fa-behance :hover, .fa-behance :active {
  color: #1769ff;
}
